In [1]:
import os
import pandas as pd
import json
import folium
import numpy as np
import matplotlib.pyplot as plt

In [7]:
data_path = r'../data/globalterrorismdb_0617dist.csv'
data_df = pd.read_csv(data_path, delimiter=',',encoding='ISO-8859-1')

C:\Users\omari\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
len(data_df.country_txt.unique())

205

In [12]:
from collections import Counter
Counter(list(data_df.country_txt))

Counter({'Afghanistan': 11306,
         'Albania': 79,
         'Algeria': 2729,
         'Andorra': 1,
         'Angola': 493,
         'Antigua and Barbuda': 1,
         'Argentina': 806,
         'Armenia': 24,
         'Australia': 104,
         'Austria': 109,
         'Azerbaijan': 47,
         'Bahamas': 5,
         'Bahrain': 186,
         'Bangladesh': 1605,
         'Barbados': 3,
         'Belarus': 13,
         'Belgium': 148,
         'Belize': 8,
         'Benin': 8,
         'Bhutan': 6,
         'Bolivia': 314,
         'Bosnia-Herzegovina': 159,
         'Botswana': 10,
         'Brazil': 268,
         'Brunei': 1,
         'Bulgaria': 52,
         'Burkina Faso': 20,
         'Burundi': 587,
         'Cambodia': 258,
         'Cameroon': 234,
         'Canada': 84,
         'Central African Republic': 235,
         'Chad': 85,
         'Chile': 2351,
         'China': 247,
         'Colombia': 8163,
         'Comoros': 5,
         'Costa Rica': 67,
         'Croatia': 57,
         'Cuba': 30,
         'Cyprus': 132,
         'Czech Republic': 29,
         'Czechoslovakia': 10,
         'Democratic Republic of the Congo': 628,
         'Denmark': 41,
         'Djibouti': 21,
         'Dominica': 3,
         'Dominican Republic': 89,
         'East Germany (GDR)': 38,
         'East Timor': 10,
         'Ecuador': 217,
         'Egypt': 2165,
         'El Salvador': 5320,
         'Equatorial Guinea': 2,
         'Eritrea': 10,
         'Estonia': 16,
         'Ethiopia': 163,
         'Falkland Islands': 1,
         'Fiji': 17,
         'Finland': 18,
         'France': 2642,
         'French Guiana': 7,
         'French Polynesia': 3,
         'Gabon': 4,
         'Gambia': 3,
         'Georgia': 216,
         'Germany': 703,
         'Ghana': 19,
         'Greece': 1231,
         'Grenada': 5,
         'Guadeloupe': 56,
         'Guatemala': 2050,
         'Guinea': 25,
         'Guinea-Bissau': 9,
         'Guyana': 26,
         'Haiti': 213,
         'Honduras': 322,
         'Hong Kong': 26,
         'Hungary': 46,
         'Iceland': 4,
         'India': 10978,
         'Indonesia': 735,
         'International': 1,
         'Iran': 676,
         'Iraq': 22130,
         'Ireland': 290,
         'Israel': 2133,
         'Italy': 1556,
         'Ivory Coast': 61,
         'Jamaica': 34,
         'Japan': 401,
         'Jordan': 101,
         'Kazakhstan': 27,
         'Kenya': 582,
         'Kosovo': 188,
         'Kuwait': 76,
         'Kyrgyzstan': 32,
         'Laos': 26,
         'Latvia': 16,
         'Lebanon': 2454,
         'Lesotho': 29,
         'Liberia': 33,
         'Libya': 2053,
         'Lithuania': 8,
         'Luxembourg': 16,
         'Macau': 33,
         'Macedonia': 117,
         'Madagascar': 27,
         'Malawi': 4,
         'Malaysia': 95,
         'Maldives': 18,
         'Mali': 417,
         'Malta': 20,
         'Martinique': 12,
         'Mauritania': 18,
         'Mauritius': 2,
         'Mexico': 504,
         'Moldova': 21,
         'Montenegro': 5,
         'Morocco': 36,
         'Mozambique': 351,
         'Myanmar': 430,
         'Namibia': 151,
         'Nepal': 967,
         'Netherlands': 128,
         'New Caledonia': 31,
         'New Hebrides': 1,
         'New Zealand': 20,
         'Nicaragua': 1970,
         'Niger': 139,
         'Nigeria': 3418,
         'North Korea': 1,
         'North Yemen': 6,
         'Norway': 18,
         'Pakistan': 13634,
         'Panama': 127,
         'Papua New Guinea': 81,
         'Paraguay': 104,
         "People's Republic of the Congo": 3,
         'Peru': 6088,
         'Philippines': 6212,
         'Poland': 36,
         'Portugal': 139,
         'Qatar': 7,
         'Republic of the Congo': 34,
         'Rhodesia': 83,
         'Romania': 6,
         'Russia': 2158,
         'Rwanda': 157,
         'Saudi Arabia': 317,
         'Senegal': 118,
         'Serbia': 11,
         'Serbia-Montenegro': 11,
         'Seychelles': 2,
         'Sierra Leone': 98,
         'Singapore': 7,
         'Slovak Republic': 18,
         'Slovenia': 6,
         'Solomon Islands': 4,
         'Somalia': 3482,
         'South Africa': 1987,
         'South Korea': 38,
         'South Sudan': 171,
         'South Vietnam': 1,
         'South Yemen': 2,
         'Soviet Union': 78,
         'Spain': 3245,
         'Sri Lanka': 2981,
         'St. Kitts and Nevis': 2,
         'St. Lucia': 1,
         'Sudan': 861,
         'Suriname': 66,
         'Swaziland': 16,
         'Sweden': 118,
         'Switzerland': 108,
         'Syria': 1949,
         'Taiwan': 48,
         'Tajikistan': 185,
         'Tanzania': 53,
         'Thailand': 3668,
         'Togo': 48,
         'Trinidad and Tobago': 22,
         'Tunisia': 104,
         'Turkey': 4106,
         'Turkmenistan': 2,
         'Uganda': 381,
         'Ukraine': 1650,
         'United Arab Emirates': 22,
         'United Kingdom': 5098,
         'United States': 2758,
         'Uruguay': 76,
         'Uzbekistan': 21,
         'Vanuatu': 2,
         'Vatican City': 1,
         'Venezuela': 275,
         'Vietnam': 10,
         'Wallis and Futuna': 1,
         'West Bank and Gaza Strip': 2144,
         'West Germany (FRG)': 541,
         'Western Sahara': 5,
         'Yemen': 3109,
         'Yugoslavia': 203,
         'Zaire': 48,
         'Zambia': 60,
         'Zimbabwe': 98})

In [59]:
list(data_df[data_df.country_txt == 'Morocco'][['iyear','imonth', 'iday', 'summary','success','city', 'region_txt','latitude', 
'longitude']].summary)[-10]

'05/16/2003: In a series of five related incidents, suicide bombers blew themselves up in a Jewish cultural center in Casablanca, Morocco. At least 3 people died in this explosion. The attack was part of five nearly simultaneous suicide attacks in Casablanca which killed 45 people, including 12 of the bombers, and wounded 100. Hundreds of people were later arrested in connection with the string of five suicide attacks. Of those arrested, eighty-seven people later tried in court were suspected to have been members of Salafia Jihadia. It was unclear if the perpetrators responsible for the attack had links with Al-Qa ida.'

In [53]:
data_df[data_df.city.isnull()][['latitude','longitude', 'city', 'country_txt']]

         latitude   longitude city   country_txt
79357    6.190088  101.797961  NaN      Thailand
79358    6.700696  101.433915  NaN      Thailand
79449    6.700696  101.433915  NaN      Thailand
79482    6.202025  101.252379  NaN      Thailand
79851    6.202025  101.252379  NaN      Thailand
79944    6.190088  101.797961  NaN      Thailand
79960    6.015119  101.951925  NaN      Thailand
79985    6.717959  101.593027  NaN      Thailand
80017    6.700696  101.433915  NaN      Thailand
80020    6.700696  101.433915  NaN      Thailand
80359    6.190088  101.797961  NaN      Thailand
80402    6.202025  101.252379  NaN      Thailand
80499    6.190088  101.797961  NaN      Thailand
80536    6.700696  101.433915  NaN      Thailand
80546    6.700696  101.433915  NaN      Thailand
80548    6.869484  101.250483  NaN      Thailand
80549    6.700696  101.433915  NaN      Thailand
80551    6.700696  101.433915  NaN      Thailand
80790    6.700696  101.433915  NaN      Thailand
80797    6.190088  101.797961  NaN      Thailand
80982    6.700696  101.433915  NaN      Thailand
81253    6.541147  101.280395  NaN      Thailand
81275    6.190088  101.797961  NaN      Thailand
81276    6.190088  101.797961  NaN      Thailand
81291    6.202025  101.252379  NaN      Thailand
81326    6.202025  101.252379  NaN      Thailand
81374    6.202025  101.280408  NaN      Thailand
81437    6.700696  101.433915  NaN      Thailand
81458   16.139823   99.367308  NaN      Thailand
81466    6.700696  101.433915  NaN      Thailand
...           ...         ...  ...           ...
101517        NaN         NaN  NaN       Tunisia
101581  34.256841   38.317288  NaN         Syria
101603  34.014552   69.192392  NaN   Afghanistan
101671  34.099578   64.905955  NaN   Afghanistan
101700  43.393247   43.562850  NaN        Russia
101749  32.927129   66.141526  NaN   Afghanistan
101813  18.350639   45.602164  NaN  Saudi Arabia
101957  36.734772   70.811995  NaN   Afghanistan
102153  30.608472   33.617577  NaN         Egypt
102280  30.996068   65.475736  NaN   Afghanistan
102317   9.133884   99.326698  NaN      Thailand
102327  36.277500    4.035024  NaN       Algeria
102344  36.669801   69.478454  NaN   Afghanistan
102457  34.256841   38.317288  NaN         Syria
102508  35.263396   40.287680  NaN         Syria
102542        NaN         NaN  NaN      Pakistan
102629  32.927129   66.141526  NaN   Afghanistan
102714  34.256841   38.317288  NaN         Syria
102824  34.846589   71.097317  NaN   Afghanistan
102845  34.099578   64.905955  NaN   Afghanistan
102860  34.524667   69.192392  NaN   Afghanistan
102876  34.014552   69.192392  NaN   Afghanistan
102943  36.079561   64.905955  NaN   Afghanistan
102966  32.468191   44.550194  NaN          Iraq
102985   6.541147  101.280395  NaN      Thailand
102999        NaN         NaN  NaN         Libya
103282  30.293114   47.292389  NaN          Iraq
103332  -2.534382  140.709304  NaN     Indonesia
103409  -2.534382  140.709304  NaN     Indonesia
103422  34.963098   68.810885  NaN   Afghanistan

[446 rows x 4 columns]

In [21]:
print(*data_df.columns, sep=', \n')

eventid,
iyear,
imonth,
iday,
approxdate,
extended,
resolution,
country,
country_txt,
region,
region_txt,
provstate,
city,
latitude,
longitude,
specificity,
vicinity,
location,
summary,
crit1,
crit2,
crit3,
doubtterr,
alternative,
alternative_txt,
multiple,
success,
suicide,
attacktype1,
attacktype1_txt,
attacktype2,
attacktype2_txt,
attacktype3,
attacktype3_txt,
targtype1,
targtype1_txt,
targsubtype1,
targsubtype1_txt,
corp1,
target1,
natlty1,
natlty1_txt,
targtype2,
targtype2_txt,
targsubtype2,
targsubtype2_txt,
corp2,
target2,
natlty2,
natlty2_txt,
targtype3,
targtype3_txt,
targsubtype3,
targsubtype3_txt,
corp3,
target3,
natlty3,
natlty3_txt,
gname,
gsubname,
gname2,
gsubname2,
gname3,
gsubname3,
motive,
guncertain1,
guncertain2,
guncertain3,
individual,
nperps,
nperpcap,
claimed,
claimmode,
claimmode_txt,
claim2,
claimmode2,
claimmode2_txt,
claim3,
claimmode3,
claimmode3_txt,
compclaim,
weaptype1,
weaptype1_txt,
weapsubtype1,
weapsubtype1_txt,
weaptype2,
weaptype2_txt,
weapsubtype2,
weapsubtype2_txt,
weaptype3,
weaptype3_txt,
weapsubtype3,
weapsubtype3_txt,
weaptype4,
weaptype4_txt,
weapsubtype4,
weapsubtype4_txt,
weapdetail,
nkill,
nkillus,
nkillter,
nwound,
nwoundus,
nwoundte,
property,
propextent,
propextent_txt,
propvalue,
propcomment,
ishostkid,
nhostkid,
nhostkidus,
nhours,
ndays,
divert,
kidhijcountry,
ransom,
ransomamt,
ransomamtus,
ransompaid,
ransompaidus,
ransomnote,
hostkidoutcome,
hostkidoutcome_txt,
nreleased,
addnotes,
scite1,
scite2,
scite3,
dbsource,
INT_LOG,
INT_IDEO,
INT_MISC,
INT_ANY,
related